body{
  background:hsl(0, 14%, 65%);
  font-size: 18px;
}
#container{
  background: red;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
h1,h2{
  text-align: center;
  font-display:under;
  text-decoration: underline;
}